@model RESTApiDemo.Models.UserTranscriptResponse
@using Microsoft.Extensions.Options
@inject IOptions<SumTotalSettings> sumtOptions
@{
  ViewData["Title"] = "Transcripts Page";
}

<div class="text-center">
  <h1 class="display-4">Training Transcript</h1>
  for User : @ViewData["FullName"]
</div>

<div>

  <div>
    <table class="table table-striped">
      <tr>
        <th>
          Activity Name
        </th>
        <th>
          Completion Date
        </th>
        <th>
          Score
        </th>
      </tr>
      @foreach (var activity in this.Model.data.OrderByDescending(x => x.completionDate))
      {
        <tr>
          <td><a href="@(sumtOptions.Value.BaseUrl)/core/pillarRedirect?relyingParty=LM&url=app%2Fcore%2Flearneractivitysummary%2FGetActivitySummary%3FisPopup%3D0%26GroupMode%3D1%26DispMode%3D0%26id%3D@(sumtOptions.Value.ActivityDeepLinkId)%26UserMode%3Dundefined">@activity.activityName</a></td>
          <td>@activity.completionDate.ToShortDateString()</td>
          <td>@activity.score</td>
        </tr>
      }
    </table>

  </div>
  <a data-toggle="collapse" class="btn btn-primary" href="#rawresponse">Raw Response</a>
  <div style="width: 100%; overflow: scroll;" class="collapse" id="rawresponse"><pre>@Html.Raw(ViewData["RawResponse"])</pre></div>
</div>
